/target
.settings
.classpath
.project
*.epoch
*.log
*.log.*
.DS_Store
/lib
/target
/test-target
.metadata
.cache
.classpath
.idea/
.idea_modules/
.project
.scala_dependencies
.settings
spark-*-bin-*.tgz
src_managed/
target/
work/
.cache-main
.cache-tests
out/**
.idea/**
